@page "/education"

<PageTitle>Education &mdash; Devon VanNote</PageTitle>

<section class="section-container">
    <h2 class="section-title">Education</h2>

    <div class="edu-card">
        <div class="edu-icon">&#127979;</div>
        <div class="edu-body">
            <h3 class="edu-degree">Bachelor of Science in Computer Science</h3>
            <p class="edu-school">McKendree University</p>
            <p class="edu-date">2013 &mdash; 2016</p>
        </div>
    </div>
</section>
